# Rust
target/
Cargo.lock
**/*.rs.bk

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.cargo/
platforms/

# OS
.DS_Store
Thumbs.db

# Build
*.so
*.dylib
*.dll
*.a
*.sh
*.db
*db-*
*.log

doc/
certs/
examples/flare-chat/
examples/certs/
dist/